<!DOCTYPE html>
<html lang="en" ng-app="generator">
<head>
    <meta charset="UTF-8">
    <title>Imager.js Customizer</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
    <!-- Main Content Section -->
    <div class="row">
        <h1>Imager.js Customizer</h1>
    </div>
    <div ng-controller="GeneratorCtrl">
        <p><a class="button small" href="https://github.com/oncletom/Imager.js/blob/feature-separation/src/imager.js"><b>Download Imager.js</b></a></p>
        <h2><label for="generated-code">Your Imager.js configuration</label></h2>

<textarea class="text" name="generated-code" cols="30" rows="15" id="generated-code" select-on-click readonly="readonly">
<div class="delayed-image-load" data-src="{{ path }}"></div>

<script src="{{ scriptPath }}"></script>
<script>
    var images = document.querySelectorAll('{{ selector }}');
    var options = {
        availableWidths: [ {{ availableWidths }} ],
        strategy: '{{ strategy }}',
        replacementDelay: {{ replacementDelay | number }}
    }

    Imager.init(images, options);
</script>
</textarea>

        <form ng-submit="generate()">
            <fieldset>
                <p>
                    <label for="o-availableWidths">Image Breakpoints</label>
                    You can generate them with <a href="https://github.com/andismith/"><code>grunt-responsive-images</code></a> for example.
                    <input class="text" type="text" id="o-availableWidths" name="availableWidths" value="320, 480, 768, 1024" ng-model="availableWidths">
                </p>
                <p>
                    <label for="o-selector">Responsive Placeholder CSS Selector</label>
                    <input class="text" type="text" id="o-selector" name="selector" value=".delayed-image-load" ng-model="selector">
                </p>
                <p>
                    <label for="o-path">Responsive Image Source</label>
                    Imager.js will replace <code>{width}</code> by the best matching value from the <em>Image Breakpoints</em> field.
                    <input class="text" type="text" id="o-path" name="path" ng-model="path">
                </p>
                <p>
                    <label for="o-script-path">Imager.js File Location</label>
                    <input class="text" type="text" id="o-script-path" name="script-path" ng-model="scriptPath">
                </p>

                <fieldset>
                    <legend>Strategy</legend>
                    <label for="o-strategy-replacer"><input type="radio" name="strategy" value="replacer" id="o-strategy-replacer" ng-model="strategy"> Replace placeholder with image</label>
                    <label for="o-strategy-container"><input type="radio" name="strategy" value="container" id="o-strategy-container" ng-model="strategy"> Insert image in placeholder</label>
                </fieldset>

                <fieldset>
                    <legend>Advanced options</legend>
                    <p>
                        <label for="o-replacement-delay">Replacement delay</label>
                        <input class="text" type="text" id="o-replacement-delay" name="replacement-delay" ng-model="replacementDelay">
                    </p>
                </fieldset>
            </fieldset>
        </form>
    </div>

    <h2>Contribute</h2>
    <p>Help making this tool better: <a href="https://github.com/kaelig/Imager.js-customizer">contribute on Github</a></p>

    <!-- Footer -->
    <footer class="row">
        <hr>
        <p>Drunk coded by <a href="https://twitter.com/kaelig">@Kaelig</a>. Thanks to <a href="https://twitter.com/oncletom">@oncletom</a> for his help and his old fashioned cocktails. Cheers to BBC News for their great responsive images tool (♥ Tom M).</p>


        <ul class="inline-list quiet">
            <li><a href="http://responsivenews.co.uk/post/58244240772/imager-js">BBC Responsive News article</a></li>
            <li><a href="https://github.com/BBC-News/Imager.js">Imager.js Github project</a></li>
        </ul>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="javascripts/generator.js"></script>
</body>
</html>
